ibm-cloud/gateway/flows_raspberrypi.json
[{"id":"7fe5045f.ef823c","type":"tab","label":"Raspberry/sensortag","disabled":false,"info":""},{"id":"7c02ce52.fe39b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3fd31cf2.2a7f94","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2},{"id":"5b000da1.fe9db4","type":"ui_group","z":"","name":"Default","tab":"3fd31cf2.2a7f94","disp":true,"width":"6","collapse":false},{"id":"1648e31c.28660d","type":"ui_tab","z":"","name":"Sensortag","icon":"dashboard","order":1},{"id":"74f61af4.358944","type":"ui_group","name":"Group 1","tab":"1648e31c.28660d","order":1,"disp":true,"width":6},{"id":"5f805d77.296f64","type":"wiotp-credentials","z":"","name":"","org":"","serverName":"","devType":"GatewayType","devId":"iccid_","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"8f6ba614.03e8f8","type":"function","z":"7fe5045f.ef823c","name":"","func":"msg1 ={payload: msg.payload.temperature};\nmsg2 = {payload: msg.payload.humidity};\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":390,"y":120,"wires":[["800cc97e.0bc6c8"],["aa01dc58.c4ce1"]]},{"id":"800cc97e.0bc6c8","type":"ui_chart","z":"7fe5045f.ef823c","name":"","group":"74f61af4.358944","order":0,"width":0,"height":0,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":80,"wires":[[],[]]},{"id":"aa01dc58.c4ce1","type":"ui_chart","z":"7fe5045f.ef823c","name":"","group":"74f61af4.358944","order":0,"width":0,"height":0,"label":"humi","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":570,"y":120,"wires":[[],[]]},{"id":"5b7ebd13.5604e4","type":"wiotp out","z":"7fe5045f.ef823c","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"5f805d77.296f64","deviceType":"sensortagType","deviceId":"sensortagId001","event":"event","format":"json","qos":"","name":"Send IoT Data to IBM Cloud","x":640,"y":160,"wires":[]},{"id":"d8890ebe.b7bc2","type":"function","z":"7fe5045f.ef823c","name":"","func":"return msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["5b7ebd13.5604e4","134087ee.ba70a8"]]},{"id":"134087ee.ba70a8","type":"debug","z":"7fe5045f.ef823c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":212,"wires":[]},{"id":"a72475c5.e5d3d8","type":"wiotp in","z":"7fe5045f.ef823c","authType":"g","deviceKey":"5f805d77.296f64","deviceType":"+","deviceId":"+","command":"+","commandType":"d","qos":0,"name":"Recieve commands","x":170,"y":360,"wires":[["b309e23.a5a932"]]},{"id":"b309e23.a5a932","type":"debug","z":"7fe5045f.ef823c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":360,"wires":[]},{"id":"4d196081.2ba0e","type":"comment","z":"7fe5045f.ef823c","name":"Extra: Receive messages from cloud (double click this node for information)","info":"This node receives messages in device.\nTo send messages:\n    1) open your Node-RED in IBM Cloud, tab 'Extras'\n    2) configure IBM IoT Platform node\n    3) Click button 'Click to send data'\n    4) Check if data has flown out of from node\n        named 'Recieve commands'. To do it, open\n        debug node and move cursor on debug message.\n        It should highlight the debug node below.","x":350,"y":320,"wires":[]},{"id":"b144c72e.939538","type":"sensorTag","z":"7fe5045f.ef823c","name":"","topic":"sensorTag","uuid":"","temperature":false,"humidity":true,"pressure":false,"magnetometer":false,"accelerometer":false,"gyroscope":false,"keys":false,"luxometer":false,"x":180,"y":120,"wires":[["8f6ba614.03e8f8","d8890ebe.b7bc2"]]},{"id":"417d6f1.7b1a29","type":"comment","z":"7fe5045f.ef823c","name":"Part 2: Send sensor data to cloud and visualise (double click this node for information)","info":"Configure 'Send IoT Data to IBM Cloud' node:\n    1) Credentials: Here you have to enter credentials\n        of your gateway device.\n        Organization: You can check it from the upper corner of your IBM IoT Platform\n        Device Type: On default 'GatewayType'\n        Device Id: On default 'iccid_{iccid of your sim card}'\n        Token: On default 'test123'\n        \n        These are hard coded in Node-RED that is in IBM Cloud. In tab 'Rules', in function node called 'CONFIGURE'\n    2) Device Type, Device Id and Event type you can be anything.\n        Gateway device sends data on behalf of TI SensorTag and\n        auto-registers it in IBM IoT Platform\n\n'Temp' and 'humi' nodes are nodes that interact with user interface\nTo enter User interface, enter 'http://{local_ip}:1880/ui' as url address.\n","x":400,"y":40,"wires":[]}]
